---
import BaseLayout from "../layout/baseLayout.astro";
import Cards from "../components/cards.astro";
---

<BaseLayout>
  <!-- <h1 class="font-bold underline animate-bounce text-gray-200 text-center pt-8">
    Ryans Resturantę
  </h1> -->
</BaseLayout>

<!-- <Cards />

<Cards /> -->
